NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1
NEXT_PUBLIC_MAP_STYLE_URL=https://tiles.openfreemap.org/styles/liberty
NEXT_PUBLIC_DEFAULT_MAP_LAT=22.5726
NEXT_PUBLIC_DEFAULT_MAP_LON=88.3639
NEXT_PUBLIC_DEFAULT_MAP_ZOOM=12.5
NEXT_PUBLIC_PANCHAYAT_MAP_LAT=22.6105
NEXT_PUBLIC_PANCHAYAT_MAP_LON=88.5122
NEXT_PUBLIC_PANCHAYAT_MAP_ZOOM=13.5
